<form [formGroup]="form">
  <h1>Hello USENSE Company</h1>
  <!-- Password -->
  <label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter password"
    />
    <div
      class="block"
      [class.invalid]="form.controls['password'].hasError('minlength')"
    >
      <div
        class="item"
        [class.easy]="isPasswordEasy('password')"
        [class.medium]="isPasswordMedium('password')"
        [class.strong]="isPasswordStrong('password')"
      ></div>
      <div
        class="item"
        [class.medium]="isPasswordMedium('password')"
        [class.strong]="isPasswordStrong('password')"
      ></div>
      <div class="item" [class.strong]="isPasswordStrong('password')"></div>
    </div>
  </label>
</form>
